<a href="https://colab.research.google.com/github/lilian-2021/DS/blob/main/SQL_LECTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
!ls

flight.db  flights.db  sample_data

In [ ]:
con = sqlite3.connect("flights.db")

In [ ]:
cursor = con.cursor()

In [ ]:
tables_query = """
SELECT * from sqlite_master
WHERE type='table';"""
cursor.execute(tables_query)

In [ ]:
tables = [i[1]for i in cursor.fetchall()]
print(tables)

['airports', 'airlines', 'routes']

In [ ]:
airports_query = \
"""
SELECT *
FROM airports
"""

In [ ]:
import pandas as pd
airports_df = pd.read_sql(airports_query, con)
airports_df.head()

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [ ]:
airlines_query = \
"""
SELECT *
FROM airlines
"""

In [ ]:
airlines_df = pd.read_sql(airlines_query, con)
airlines_df.head()

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N

In [ ]:
airlines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6048 entries, 0 to 6047
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     6048 non-null   int64
 1   id        6048 non-null   object
 2   name      6048 non-null   object
 3   alias     5615 non-null   object
 4   iata      1461 non-null   object
 5   icao      5961 non-null   object
 6   callsign  5305 non-null   object
 7   country   6033 non-null   object
 8   active    6048 non-null   object
dtypes: int64(1), object(8)
memory usage: 425.4+ KB